<div class="container">
  <div class="estilo-titulo text-center">
    <div class="row justify-content-start">
      <div class="col-sm-6">
        <h2 class="titulo">Controle de Produtos</h2>
      </div>
      <div class="col">
        <button
          class="btn btn-success add-produto"
          [routerLink]="['/produto/create']"
        >
          <ion-icon class="create-icon" name="add-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  <table class="table table-hover table-color">
    <thead>
      <tr class="">
        <th scope="col">Nome</th>
        <th scope="col">Descricao</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of produto">
      <tr>
        <td>{{ item.nome_produto }}</td>
        <td>{{ item.descricao_produto }}</td>
        <td>{{ item.quantidade_produto }}</td>
        <td>{{ item.preco_produto }}</td>
        <td>
          <div class="grupo-acao">
            <button
              class="btn btn-warning"
              [routerLink]="['/produto/create', item.id]"
            >
              <ion-icon name="create-outline"></ion-icon>
            </button>
            <button class="btn btn-danger">
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
