<div class="container text-center d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Login</h2>
    </div>
    <div class="card-body">
      <form>
        <div class="input-group">
          <div class="input-group-append">
            <label>
              <span class="icon"
                ><ion-icon name="mail-outline"></ion-icon
              ></span>
              E-mail
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="example@example.com"
            />
          </div>
        </div>
        <br /><br />
        <div class="input-group">
          <div class="input-group-append">
            <label>
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              Senha
            </label>
            <input type="text" class="form-control" placeholder="Password" />
          </div>
        </div>
      </form>
      <br />
      <button class="btn btn-light">Entrar</button>
    </div>
  </div>
</div>
