<div class="container text-center d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Login</h2>
      <div class="linha"></div>
      <br />
    </div>
    <div class="card-body">
      <form [formGroup]="formUser">
        <div class="input-group">
          <div class="input-group-append">
            <label>
              <span class="icon"
                ><ion-icon name="mail-outline"></ion-icon
              ></span>
              Username
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              formControlName="username"
            />
          </div>
        </div>
        <br /><br />
        <div class="input-group">
          <div class="input-group-append">
            <label>
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              Senha
            </label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="senha"
            />
          </div>
        </div>
      </form>
      <br />
      <button type="submit" class="btn btn-light" (click)="OnSubmit()">
        Entrar
      </button>
    </div>
    <div class="background-cadastro">
      <p class="text-cadastro">
        Ainda não tem conta?
        <a class="link-cadastro" (click)="showCadastro()">Cadastre-se</a>
      </p>
    </div>
  </div>
</div>
