<div class="card-container container-fluid">
  <div class="card">
    <canvas
      #doughnutCanvas
      style="
        max-height: 238px;
        max-width: 100%;
        align-self: center;
        background-color: #cdcfd3;
        border-radius: 5px;
      "
    ></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <canvas
      #barCanvas
      style="
        height: 200px;
        width: 400px;
        background-color: #cdcfd3;
        border-radius: 5px;
      "
    ></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <canvas
      #lineCanvas
      style="
        height: 200px;
        width: 400px;
        background-color: #cdcfd3;
        border-radius: 5px;
      "
    ></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<div class="card-big container-fluid">
  <div class="card">
    <canvas
      #doughnutCanvas1
      style="
        max-height: 300px;
        max-width: 400px;
        align-self: center;
        background-color: #cdcfd3;
        border-radius: 5px;
      "
    ></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <canvas
      #lineCanvas1
      style="
        max-height: 300px;
        max-width: 500px;
        background-color: #cdcfd3;
        border-radius: 5px;
      "
    ></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<br />
