<div class="card-container container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Montante e Capital da Empresa</h5>
      <canvas #doughnutCanvas class="doughnutCanvas"></canvas>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total de Dados Cadastrados</h5>
      <canvas
        #conteudoCadastradoCanvas
        class="conteudoCadastradoCanvas"
      ></canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Vendas Realizadas Durante o Ano</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <canvas #lineCanvas class="lineCanvas"></canvas>
  </div>
</div>

<div class="card-container container-fluid">
  <div class="card">
    <canvas #barCanvas class="barCanvas"></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <canvas #lineCanvas1 class="lineCanvas1"></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://live.staticflickr.com/65535/52324826014_11f7dd3788_k.jpg"
      alt="Webb Inspects the Heart of the Phantom Galaxy"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<br />
