@media screen and (max-width: 768px) {
  .card .card-title {
    font-weight: bold;
    margin-bottom: 30px;
  }

  .card .card-container {
    flex: 1 1 0;
    max-width: 50%;
    border-radius: 10px;
    padding: 0;
    margin: 10px 10px 10px 10px;
    background-color: #505262;
  }
}

.card-text,
.card-title {
  color: #cdcfd3;
}
.card-text {
  font-size: 18px;
}

.card-container {
  display: flex;
}

.card .card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-container .card {
  display: flex;
  flex: 1 1 1;
  max-width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 0;
  background: #505262;
  margin: 0 10px 20px 10px;
  border-style: solid;
}

.card-content {
  width: 30%;
  height: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.doughnutCanvas {
  max-height: 238px;
  max-width: 100%;
  align-self: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 10px 10px 10px;
}

.barCanvas {
  height: 200px;
  width: 400px;
  background-color: #cdcfd3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lineCanvas {
  height: 200px;
  width: 400px;
  background-color: #cdcfd3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.doughnutCanvas1 {
  max-height: 258px;
  max-width: 300px;
  align-self: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lineCanvas1 {
  max-height: 300px;
  max-width: 100%;
  background-color: #cdcfd3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
