label {
  color: #cdcfd3;
  margin-bottom: 5px;
}
.form-group {
  margin-bottom: 20px;
}
.estilo-titulo {
  color: #cdcfd3;
  background-color: #665dd1;
  max-width: 100%;
  border: 10px solid #665dd1;
  border-radius: 5px;
}
.titulo {
  float: left;
  margin: 5px auto auto 20px;
}

.btn-fechar {
  color: #fff;
  float: right;
  margin: 5px 30px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.btn-light {
  background-color: #665dd1;
  color: #cdcfd3;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.btn-light:hover {
  opacity: 0.9;
}
