.card-text,
.card-title {
  color: #cdcfd3;
}
.card-text {
  font-size: 18px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 0;
}

.card .card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-container .card {
  border-radius: 10px;
  padding: 0;
  background: #505262;
  margin: 0 10px 20px 10px;
  border-style: solid;
}

.doughnutCanvas {
  max-height: 300px;
  max-width: 500px;
  align-self: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 10px 10px 10px;
}

.barCanvas {
  height: 100%;
  max-width: 500px;
  background-color: #cdcfd3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lineCanvas {
  height: 300px;
  max-width: 500px;
  background-color: #cdcfd3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.conteudoCadastradoCanvas {
  max-height: 300px;
  max-width: 500px;
  align-self: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lineCanvas1 {
  max-height: 100%;
  max-width: 500px;
  background-color: #cdcfd3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
